/*

!/config
!/defaultconfigs
!/kubejs
!/.gitignore
!/manifest.json

/config/ae2/client.json
/config/jade
/config/jei
/config/appleskin-client.toml
/config/carryon-client.toml
/config/cosmeticarmorreworked-client.toml
/config/curios-client.toml
/config/easy_villagers-client.toml
/config/effortlessbuilding-client.toml
/config/embeddium-fingerprint.json
/config/embeddium-options.json
/config/embeddium++.toml
/config/emi.css
/config/EmiLootConfig_v1.json
/config/enchdesc.json
/config/entityculling.json
/config/extremesoundmuffler-client.toml
/config/farmersdelight-client.toml
/config/fml.toml
/config/forge-client.toml
/config/ftbbackups2.json
/config/ftbxmodcompat.snbt
/config/inventorysorter-client.toml
/config/ironfurnaces-client.toml
/config/littletiles-client.json
/config/MouseTweaks.cfg
/config/neat-client.toml
/config/oculus.properties
/config/overflowingbars-client.toml
/config/patchouli-client.toml
/config/sidebar_buttons.json
/config/solcarrot-client.toml
/config/sophisticatedcore-client.toml
/config/sophisticatedstorage-client.toml
/config/xaerominimap_entities.json
/config/xaerominimap.txt
/config/xaeroworldmap.txt
/config/zume.json5